/* CSS Variable start*/
:root{
    --neavy-blue: #0f2480;
    --light-blue: #3554d1;
    --yellow: #f9bc16;
    --orange: #f97616;
}
/* CSS Variable end*/

/* Common CSS start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;

}
input{
    border: none;
    outline: none;
}
::placeholder{
    color: black;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}
p{
    font-size: 17px;
}
/* Common CSS end */

/* Header Section start */
/* Header Section end */

/* About Section start */
.about-section{
    padding: 70px 0;
}
.before-color{
    position: relative;
    display: block;
}
.before-color::before{
    content: "";
    width: 7px;
    height: 50px;
    background-color: var(--neavy-blue);
    position: absolute;
    left: -10px;
    top: 0;
}
.about-text{
    max-width: 450px;
}
.cta-btn{
    display: inline-block;
    background-color: white;
    color: var(--neavy-blue);
    padding: 10px 24px;
    border: 1px solid var(--neavy-blue);
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.cta-btn:hover{
    background-color: var(--neavy-blue);
    color: white;
}
/* About Section end */

/* House Section start */
/* House Section end */

/* Price Section start */
.price-section{
    padding: 50px 0;
}
.single-card{
    background-color: var(--light-blue);
}
.card-head{
    background-color: var(--neavy-blue);
}
.special-card{
    background-color: var(--yellow);
}
.card-text p:last-child {
    padding-bottom: 50px;
}
/* Price Section end */

/* Deal Section start */
.deal-section{
    padding: 50px 0;
}
.deal-img1 img{
    width: 100%;
    max-height: 400px;
}
.deal-img2 img{

}

/* Deal Section end */

/* Choose Section start */
.choose-section{
    padding: 50px 0;
    background-color: var(--neavy-blue);
}
.choose-img-box{
    width: 65px;
    height: 65px;
}
/* Choose Section end */

/* Customer Section start */
/* .customer-section{
    padding: 60px 0;
}
.slider-box{
    padding: 20px 150px;
}

.slider-img-box img{
    width: 160px;
    height: 130px;
    object-fit: cover;
    object-position: top left;
    flex-shrink: 0;
    display: inline-block;
}
.slider-content{
    max-width: 900px;
} */
/* Customer Section end */

/* Contact Section start */
/* Contact Section end  */
.contact-section{
    padding: 60px 0;
}
.contact-section .container-fluid{
    padding-left: 0;
    background-color: var(--neavy-blue)
}
.map-box{
    height: 640px;
    width: 100%;
    z-index: 1;
}
.map-box iframe{
    width: 100%;
    height: 100%;
}
.contact-info{
    max-width: 60%;
}
form input{

}
textarea{
    resize: none;
    width: 100%;
    position: relative;
}
textarea::placeholder{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.contact-info a{
    background-color: var(--orange);
}

/* Footer Section start  */
footer{
    padding: 50px 0;
    background-color: var(--neavy-blue);
}
.footer-first{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer input{
    max-width: 300px;
}
.subscribe{
    padding: 10px 24px;
    background-color: var(--orange);
}
footer ul li a{
    transition: 0.5s;
}
footer ul li a:hover{
    opacity: 0.6;
}

/* Footer Section end  */
